<spotConfig>
    <general>
        <name>general</name>
        <variableList>
            <name>control</name>
            <variable>
                <name>funEvals</name>
                <type>integer</type>
                <default>20</default>
                <min>1</min>
            </variable>
            <variable>
                <name>noise</name>
                <type>boolean</type>
                <default>F</default>
            </variable>
            <variable>
                <name>OCBA</name>
                <type>boolean</type>
                <default>F</default>
            </variable>
            <variable>
                <name>OCBAbudget</name>
                <type>integer</type>
                <default>3</default>
                <min>1</min>
            </variable>
            <variable>
                <name>replicates</name>
                <type>integer</type>
                <default>1</default>
                <min>1</min>
            </variable>
            <variable>
                <name>seedFun</name>
                <type>closure</type>
                <default>NA</default>
            </variable>
            <variable>
                <name>seedSPOT</name>
                <type>integer</type>
                <default>1</default>
            </variable>
            <variable>
                <name>plots</name>
                <type>boolean</type>
                <default>F</default>
            </variable>
        </variableList>
    </general>
    <optimizer>
        <name>optimLHD</name>
        <variableList>
            <name>control</name>
            <variable>
                <name>funEvals</name>
                <type>integer</type>
                <default>100</default>
                <min>1</min>
            </variable>
            <variable>
                <name>retries</name>
                <type>integer</type>
                <default>100</default>
                <min>1</min>
            </variable>
        </variableList>
    </optimizer>
    <optimizer>
        <name>optimES</name>
        <variableList>
            <name>control</name>
            <variable>
                <name>funEvals</name>
                <type>integer</type>
                <default>500</default>
                <min>1</min>
            </variable>
            <variable>
                <name>mue</name>
                <type>integer</type>
                <default>10</default>
                <min>1</min>
            </variable>
            <variable>
                <name>nu</name>
                <type>integer</type>
                <default>10</default>
                <min>1</min>
            </variable>
            <variable>
                <name>mutation</name>
                <type>integer</type>
                <default>1</default>
            </variable>
            <variable>
                <name>sigmaInit</name>
                <type>numeric</type>
                <default>1.0</default>
            </variable>
            <variable>
                <name>nSigma</name>
                <type>integer</type>
                <default>1</default>
            </variable>
            <variable>
                <name>tau0</name>
                <type>numeric</type>
                <default>0.0</default>
            </variable>
            <variable>
                <name>tau</name>
                <type>numeric</type>
                <default>1.0</default>
            </variable>
            <variable>
                <name>rho</name>
                <type>string</type>
                <default>bi</default>
            </variable>
            <variable>
                <name>sel</name>
                <type>integer</type>
                <default>1</default>
            </variable>
            <variable>
                <name>stratReco</name>
                <type>integer</type>
                <default>2</default>
            </variable>
            <variable>
                <name>objReco</name>
                <type>integer</type>
                <default>2</default>
            </variable>
            <variable>
                <name>maxGen</name>
                <type>integer</type>
                <default>99999999</default>
            </variable>
            <variable>
                <name>seed</name>
                <type>integer</type>
                <default>1</default>
            </variable>
            <variable>
                <name>noise</name>
                <type>numeric</type>
                <default>0.0</default>
            </variable>
            <variable>
                <name>verbosity</name>
                <type>integer</type>
                <default>0</default>
            </variable>
            <variable>
                <name>plotResult</name>
                <type>boolean</type>
                <default>F</default>
            </variable>
            <variable>
                <name>logPlotResult</name>
                <type>boolean</type>
                <default>F</default>
            </variable>
            <variable>
                <name>sigmaRestart</name>
                <type>numeric</type>
                <default>0.1</default>
            </variable>
            <variable>
                <name>preScanMult</name>
                <type>numeric</type>
                <default>1.0</default>
            </variable>
            <variable>
                <name>globalOpt</name>
                <type>closure</type>
                <default>NULL</default>
            </variable>
        </variableList>
    </optimizer>
    <optimizer>
        <name>optimGenoud</name>
        <variableList>
            <name>control</name>
            <variable>
                <name>funEvals</name>
                <type>integer</type>
                <default>100</default>
                <min>1</min>
            </variable>
            <variable>
                <name>populationSize</name>
                <type>integer</type>
                <default>20</default>
                <min>1</min>
            </variable>
        </variableList>
    </optimizer>
    <optimizer>
        <name>optimLBFGSB</name>
        <variableList>
            <name>control</name>
            <variable>
                <name>funEvals</name>
                <type>integer</type>
                <default>100</default>
                <min>1</min>
            </variable>
        </variableList>
    </optimizer>
    <optimizer>
        <name>optimDE</name>
        <variableList>
            <name>control</name>
            <variable>
                <name>funEvals</name>
                <type>integer</type>
                <default>100</default>
                <min>1</min>
            </variable>
            <variable>
                <name>populationSize</name>
                <type>integer</type>
                <default>20</default>
                <min>1</min>
            </variable>
        </variableList>
    </optimizer>
    <optimizer>
        <name>optimNLOPTR</name>
        <variableList>
            <name>control</name>
            <variable>
                <name>funEvals</name>
                <type>integer</type>
                <default>100</default>
                <min>1</min>
            </variable>
        </variableList>
    </optimizer>
    <model>
        <name>buildKriging</name>
        <variableList>
            <name>control</name>
            <variable>
                <name>thetaLower</name>
                <type>numeric</type>
                <default>0.0001</default>
                <min>0</min>
            </variable>
            <variable>
                <name>thetaUpper</name>
                <type>numeric</type>
                <default>100</default>
                <min>0</min>
            </variable>
            <variable>
                <name>algTheta</name>
                <type>closure</type>
                <default>optimLBFGSB</default>
            </variable>
            <variable>
                <name>budgetAlgTheta</name>
                <type>integer</type>
                <default>200</default>
            </variable>
            <variable>
                <name>optimizeP</name>
                <type>boolean</type>
                <default>F</default>
            </variable>
            <variable>
                <name>useLambda</name>
                <type>boolean</type>
                <default>T</default>
            </variable>
            <variable>
                <name>lambdaLower</name>
                <type>numeric</type>
                <default>-6</default>
            </variable>
            <variable>
                <name>lambdaUpper</name>
                <type>numeric</type>
                <default>0</default>
            </variable>
            <variable>
                <name>startTheta</name>
                <type>numeric</type>
                <default></default>
            </variable>
            <variable>
                <name>reinterpolate</name>
                <type>boolean</type>
                <default>T</default>
            </variable>
        </variableList>
    </model>
    <model>
        <name>buildRandomForest</name>
        <variableList>
            <name>control</name>
        </variableList>
    </model>
    <model>
        <name>buildKrigingDACE</name>
        <variableList>
            <name>control</name>
            <variable>
                <name>startTheta</name>
                <type>numeric</type>
                <default></default>
            </variable>
            <variable>
                <name>algTheta</name>
                <type>closure</type>
                <default>optimLBFGSB</default>
            </variable>
            <variable>
                <name>budgetAlgTheta</name>
                <type>integer</type>
                <default>200</default>
            </variable>
            <variable>
                <name>nugget</name>
                <type>numeric</type>
                <default>-1</default>
            </variable>
            <variable>
                <name>corr</name>
                <type>closure</type>
                <default>corrnoisykriging</default>
            </variable>
        </variableList>
    </model>
    <model>
        <name>buildEnsembleStack</name>
        <variableList>
            <name>control</name>
            <variable>
                <name>modelL1</name>
                <type>closure</type>
                <default>buildLM</default>
            </variable>
            <variable>
                <name>modelL1Control</name>
                <type>closure</type>
                <default>list()</default>
            </variable>
            <variable>
                <name>modelL0</name>
                <type>closure</type>
                <default>list(buildLM,buildRandomForest,buildKriging)</default>
            </variable>
            <variable>
                <name>modelL0Control</name>
                <type>closure</type>
                <default>list(list(),list(),list())</default>
            </variable>
        </variableList>
    </model>
    <model>
        <name>buildLM</name>
        <variableList>
            <name>control</name>
            <variable>
                <name>useStep</name>
                <type>boolean</type>
                <default>F</default>
            </variable>
            <variable>
                <name>formula</name>
                <type>closure</type>
                <default>NULL</default>
                <min>1</min>
            </variable>
        </variableList>
    </model>
    <model>
        <name>buildRSM</name>
        <variableList>
            <name>control</name>
            <variable>
                <name>mainEffectsOnly</name>
                <type>boolean</type>
                <default>F</default>
            </variable>
            <variable>
                <name>canonical</name>
                <type>boolean</type>
                <default>F</default>
            </variable>
        </variableList>
    </model>
    <model>
        <name>buildLOESS</name>
        <variableList>
            <name>control</name>
        </variableList>
    </model>
    <design>
        <name>designLHD</name>
        <variableList>
            <name>control</name>
            <variable>
                <name>size</name>
                <type>integer</type>
                <default>10</default>
                <min>1</min>
            </variable>
            <variable>
                <name>retries</name>
                <type>integer</type>
                <default>1</default>
                <min>1</min>
            </variable>
            <variable>
                <name>inequalityConstraint</name>
                <type>closure</type>
                <default>NULL</default>
            </variable>
            <variable>
                <name>replicates</name>
                <type>integer</type>
                <default>1</default>
                <min>1</min>
            </variable>
        </variableList>
    </design>
    <design>
        <name>designUniformRandom</name>
        <variableList>
            <name>control</name>
            <variable>
                <name>size</name>
                <type>integer</type>
                <default>10</default>
                <min>1</min>
            </variable>
            <variable>
                <name>replicates</name>
                <type>integer</type>
                <default>1</default>
                <min>1</min>
            </variable>
        </variableList>
    </design>
    <objectiveFunction>
        <name>funSphere</name>
        <vectorized>true</vectorized>
        <dimension>
            <name>X1</name>
            <type>numeric</type>
            <lower>-5</lower>
            <amount>2</amount>
            <upper>5</upper>
        </dimension>
    </objectiveFunction>
</spotConfig>
